.genreTag {
  display: flex;
  padding: 4px 8px;
  align-items: flex-start;
  border-radius: 0px 8px;
  background: rgba(29, 29, 29, 0.5);
  color: #0FEFFD;
  font-weight: 400;
  cursor: pointer;
  z-index: 1;
  transition: transform 0.2s, box-shadow 0.2s;
  width: fit-content;
}

.genreTag:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
