.genreTag {
  display: flex;
  padding: 4px 8px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 0px 8px;
  background: rgba(29, 29, 29, 0.5);
  color: #0FEFFD;
  font-weight: 400;
  cursor: pointer;
  z-index: 1;
}
