/* Genre Tag Styles */
.genreTag {
  display: flex;
  padding: 4px 8px;
  align-items: flex-start;
  border-radius: 0px 8px;
  background: rgba(29, 29, 29, 0.5);
  color: #0feffd;
  font-weight: 400;
  cursor: pointer;
  z-index: 1;
  transition: transform 0.2s, box-shadow 0.2s;
  width: fit-content;
}

.genreTag:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Footer Styles */
.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-end;
  margin: 64px;
  text-align: left;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.footer a {
  color:#0FEFFD;
}
.iconStyle {
  width: 12px;
  height: 12px;
  transform: translateY(2px);
}

@media (max-width: 1366px) {
  .genreTag {
    font-size: 16px;
  }
  .footer {
    margin: 46px
  }
}
@media (max-width: 1024px) {
  .footer {
    margin: 42px;
    align-content: center;
  }
}
@media (max-width: 800px) {
  .genreTag {
    font-size: 14px;
  }
  .footer {
    margin: 36px
  }
  .movie .ratingStars {
    transform:scale(0.7) translateX(-15px)
  }
}
@media (max-width: 600px) {
  .genreTag {
    font-size: 12px;
  }
  .footer {
    margin: 24px;
    line-height: 14px;
    font-size: 10px;
  }
}

